/* Profiles*/

.form-box .form-group,
.form-box .mb-3,
.form-box .mb-4,
.form-box .form-control {
    margin-bottom: 1.2rem !important;
}

.order-history{
        max-height: 420px ;
        overflow-y: auto;
    }