@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
body {
    font-family: 'Archivo', sans-serif;
    background-color: #f9f3ec;
    color: #333533;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px; 
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    font-size: 14px;
}

p.subtitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* Navigation Bar */
.custom-nav {
    background-color: #f9f3ec !important;
    height: 64px;
    margin-top: 46.6px; 
    z-index: 1000;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #333533 !important;
}

#nav-banner {
    background-color: #333533;
    color: #ffffff;
    position: fixed;
    top: 110.6px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
} 

.nav-link {
    color: #333533 !important;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #ec4e20 !important;
    background-color: transparent !important;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-toggler{
    z-index: 10000;
}

/* Search Bar */
.search-bar-top {
  background-color: #79b4e2 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100; 
}

.search-bar-top form {
  width: 50%;
  margin: 0 auto;   
}

/* Buttons */
.def-btn{
    background-color: #333533 !important;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Footer */
.custom-footer {
    background-color: #ec4e20 !important;
    color: #ffffff !important;
    font-family: 'Archivo', sans-serif;
}